body {
  background-color: #b3b3b3;
}
.intro-header {
	background: url(../images/tablets.jpg) no-repeat center center;
	background-size: cover;
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
}