body,
html {
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
p {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.3em;
}
.top-nav {
	font-size: 14px; 
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.intro-header {
	background: url(../images/intro-bg.jpg) no-repeat center center;
	background-size: cover;
	padding-top: 50px; 
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
	text-align: center; 
}
.intro-message > h1{
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    font-size: 5em;
	color: #f1c40f;
	
}

.intro-message > h3{
    margin: 0;
	text-shadow: 2px 2px 3px #000000;
	letter-spacing: 1px;
    font-size: 1.5em;
	color: #ecf0f1;
	
}

.intro-divider {
	width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
/*Phones*/
@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
	
	.section-footer h3 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.footer-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.footer-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}


/*tablets*/
@media(max-width:1199px) {
    ul.footer-social-buttons {
        float: left;
        margin-top: 15px;
    }
	h3.section-footer {
        margin: 5px;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 0.5em;
		color:red;
    }
	ul.footer-social-buttons {
        float: left;
        margin-top: 15px;
    }
	
}
/*Sections*/
.section-footer {
	padding: 100px 0;
	background: url(../images/img-footer.jpg) no-repeat center center;
	background-size: cover;
}
.section-footer ul {
	margin-bottom: 0;
}

.footer-social-buttons {
	float: right;
    margin-top: 0;
}
.section-footer  h3{
	margin: 0;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    font-size: 3em;
	color: #f1c40f;
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}
.footer-network-name {
	text-transform: uppercase;
	font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}


.section-services {
	padding-top: 20px;
	background-color: #ecf0f1;
	border-top: 1px solid #95a5a6;
	border-bottom: 1px solid #95a5a6;
}

.section-services-b {
	padding-top: 20px;
	border-bottom: 1px solid #95a5a6;
	padding-bottom: 20px;
}
.section-divider {
	border: 2.5px solid #95a5a6;
	border-radius: 2px;
	
}
.section-header {
	color:#f1c40f;
	text-shadow: 1px 1px 1px #000;
	letter-spacing: 1px;
	font-weight: normal;
}
.section-projects {
	padding-top: 20px;
	border-bottom: 1px solid #95a5a6;
	background-color: #ecf0f1;
	border-bottom: 1px solid #95a5a6;
	
}
.thumbnail {
	border: 1px solid #95a5a6;
	background-color: #7f8c8d;
}
img.thumbnail {
	border: 1px solid #95a5a6;
}
.section-contact {
	padding-top: 20px;
}
footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}
footer a{
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	
}
p.copyright {
    margin: 15px 0 0;
}

